{{ template "header" . }}

{{ if .Error }}
  <div class="alert alert-danger">{{ .Error }}</div>
{{ end }}

{{ if .Message }}
  <div class="alert alert-success">{{ .Message }}</div>
{{ end }}

<h1>{{ .Title }}</h1>
 <form action="/users/forgot" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" value="{{ .Email }}">
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>

{{ template "footer" . }}
